<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/mainLayout">
<head>
<meta charset="UTF-8" />
<script src="../assets/js/contract.js"></script>
</head>
<body>
	<div class="content" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="card">
						<form method="post" th:action="@{'/FPT/update-contract-process'}">
							<div class="card-header">
								<h4 class="card-title">Cập Nhật Hợp Đồng</h4>
							</div>
							<input type="hidden" name="idContract"
								th:value="${contract.getId_hop_dong()}">
							<div class="card-content">
								<div class="alert alert-danger" th:if="${checkExist == 1}">
									<span><b> Tên Hợp Đồng Và Mã Hợp Đồng Đã Tồn Tại !</b></span>
								</div>
								<div class="form-group">
									<label>Tên Hợp Đồng</label> <input type="text"
										placeholder=" Nhập Tên Hợp Đồng " class="form-control"
										name="nameContract" id="nameContract"
										th:value="${contract.getTen_hop_dong()}">
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-name-contract">
									<span><b>Không Được Để Trống Tên Hợp Đồng !</b></span>
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-regex-name-contract">
									<span><b>Không Đúng Định Dạng - Vui Lòng Nhập Lại !</b></span>
								</div>


								<div class="form-group">
									<label>Số Hợp Đồng</label> <input type="number"
										placeholder=" Nhập Số Hợp Đồng" class="form-control"
										name="contractNumber" id="contractNumber"
										th:value="${contract.getSo_hop_dong()}">
								</div>

								<div class="alert alert-danger" style="display: none;"
									id="error-contract-number">
									<span><b>Không Được Để Trống Số Hợp Đồng !</b></span>
								</div>

								<div class="form-group">
									<label>Người Ký Hợp Đồng</label> <input type="text"
										placeholder=" Nhập Tên Người Ký" class="form-control"
										name="signedContractByPerson" id="signedContractByPerson"
										th:value="${contract.getNguoi_ky_hop_dong()}">
								</div>

								<div class="alert alert-danger" style="display: none;"
									id="error-signed-contract-by-person">
									<span><b>Không Được Để Người Ký Hợp Đồng !</b></span>
								</div>


								<div class="form-group">
									<label>Khách Hàng</label>
									<div class="row">
										<div class="col-sm-12">
											<select class="selectpicker"
												data-style="btn btn-danger btn-block"
												title="Chọn Khách Hàng" data-size="7" name="customer"
												id="customer">
												<option th:value="${contract.getId_khach_hang()}"
													th:text="${contract.getTen_khach_hang()}"
													selected="selected"></option>
												<option th:each="corporateCustomer:${listCorporateCustomer}"
													th:value="${corporateCustomer.idCustomer}"
													th:text="${corporateCustomer.nameCustomer}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-customer">
									<span><b>Không Được Để Trống !</b></span>
								</div>


								<div class="form-group">
									<label>Loại Hợp Đồng</label>
									<div class="row">
										<div class="col-sm-12">
											<select class="selectpicker"
												data-style="btn btn-danger btn-block"
												title="Chọn Loại Hợp Đồng" data-size="7"
												name="typeOfContracts" id="typeOfContracts">
												<option th:value="${contract.getId_loai_hop_dong()}"
													th:text="${contract.getTen_loai_hop_dong()}"
													selected="selected"></option>
												<option th:each="typeOfContract:${listTypeOfContract}"
													th:value="${typeOfContract.idTypeOfContract}"
													th:text="${typeOfContract.nameTypeOfContract}"></option>
											</select>
										</div>
									</div>
								</div>

								<div class="alert alert-danger" style="display: none;"
									id="error-typeOfContracts">
									<span><b>Không Được Để Trống !</b></span>
								</div>



								<div class="form-group">
									<label> Ngày Ký Hợp Đồng</label> <input type="date"
										placeholder="Nhập Ngày Ký Hợp Đồng" class="form-control"
										name="signedDate" id="signedDate"
										th:value="${contract.getNgay_ky()}">
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-registrationDate">
									<span><b>Không Được Để Trống !</b></span>
								</div>

								<div class="alert alert-danger" style="display: none;"
									id="check-registrationDate">
									<span><b>Ngày Đăng Ký Không Hợp Lệ !</b></span>
								</div>


								<div class="form-group">
									<label> Ngày Hết Hạn Hợp Đồng</label> <input type="date"
										placeholder="Nhập Ngày Hết Hạn Hợp Đồng" class="form-control"
										name="expiredDate" id="expiredDate"
										th:value="${contract.getNgay_het_han()}">
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-expired-date">
									<span><b>Không Được Để Trống !</b></span>
								</div>

								<div class="alert alert-danger" style="display: none;"
									id="check-expired-date">
									<span><b>Ngày Hết Hạn Không Hợp Lệ !</b></span>
								</div>

								<div class="row">
									<div class="col-sm-4"></div>
									<div class="col-sm-4">
										<button type="submit"
											class="btn btn-fill btn-info position-button-insert-department-form"
											onclick="return update();">Xác Nhận</button>
									</div>
									<div class="col-sm-4"></div>
								</div>
							</div>
						</form>
					</div>
					<!-- end card -->
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</body>
</html>