<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/mainLayout">
<head>
<meta charset="UTF-8" />
<script src="../assets/js/type-of-contract.js"></script>
</head>
<body>
	<div class="content" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<form method="get" th:action="@{'/FPT/insert-process'}">
							<div class="card-header">
								<h4 class="card-title">Thêm Loại Hợp Đồng</h4>
							</div>
							<div class="card-content">
								<div class="form-group">
									<label>Nhập Tên Loại Hợp Đồng</label> <input type="text"
										placeholder=" Tên phòng ban" class="form-control"
										name="nameTypeOfContract" id="name-type-of-contract">
								</div>
								<div class="alert alert-danger" th:if="${checkExist == 1}">
									<span><b>Tên Loại Hợp Đồng Đã Tồn Tại !</b></span>
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error">
									<span><b>Không Được Để Trống !</b></span>
								</div>

								<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-4">
										<button type="submit"
											class="btn btn-fill btn-info position-button-insert-department-form"
											onclick="return insert()">Xác Nhận</button>
									</div>
									<div class="col-md-4"></div>
								</div>


							</div>
						</form>
					</div>
					<!-- end card -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>