<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/mainLayout">
<head>
<meta charset="UTF-8" />

<script src="../assets/js/corporate-customer.js"></script>
</head>
<body>
	<div class="content" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="card">
						<form method="post"
							th:action="@{'/FPT/insert-corporate-customer-process'}"
							enctype="multipart/form-data">
							<div class="card-header">
								<h4 class="card-title">Thêm Khách Hàng Doanh Nghiệp</h4>
							</div>
							<div class="card-content">

								
								<div class="form-group">
									<label>Tên Doanh Nghiệp</label> <input type="text"
										placeholder=" Nhập Họ Tên " class="form-control"
										name="nameCustomer" id="name-customer">
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-name-customer">
									<span><b>Không Được Để Trống Tên Doanh Nghiệp !</b></span>
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-regex-name-customer">
									<span><b>Không Đúng Định Dạng - Vui Lòng Nhập Lại !</b></span>
								</div>

								<div class="form-group">
									<label>Địa Chỉ</label>
									<textarea rows="5" cols="10" class="form-control"
										placeholder=" Nhập Địa Chỉ" name="address" id="address"></textarea>
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-address">
									<span><b>Không Được Để Trống Địa Chỉ !</b></span>
								</div>

								<div class="form-group">
									<label>Email</label> <input type="text"
										placeholder=" Nhập Email" class="form-control" name="email"
										id="email">
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-email">
									<span><b>Không Được Để Trống Email !</b></span>
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-regex-email">
									<span><b>Email Không Hợp Lệ !</b></span>
								</div>

								<div class="form-group">
									<label> Mã Số Thuế</label> <input type="number"
										placeholder=" Nhập Mã Số Thuế" class="form-control"
										name="taxIdentificationNumber" id="taxIdentificationNumber">
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-taxIdentificationNumber">
									<span><b>Không Được Để Trống Mã Số Thuế !</b></span>
								</div>

								<div class="form-group">
									<label> Địa Chỉ Website</label> <input type="text"
										placeholder="Địa Chỉ Website Của Công Ty" class="form-control"
										name="websiteAddress">
								</div>

								<div class="form-group">
									<label> Người Đại Diện</label> <input type="text"
										placeholder="Tên Người Đại Diện Công Ty" class="form-control"
										name="representative">
								</div>

								<div class="form-group">
									<label> Công Ty Mẹ</label>
									<div class="row">
										<div class="col-sm-12">
											<select class="selectpicker"
												data-style="btn btn-danger btn-block"
												title="Chọn Công Ty Mẹ" data-size="7" name="idParentCompany">
												<option value="" selected="selected">Chọn Công Ty
													Mẹ</option>
												<option
													th:each="listCorporateCustomer : ${listCorporateCustomer}"
													th:value="${listCorporateCustomer.idCustomer}"
													th:text="${listCorporateCustomer.nameCustomer}"></option>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label> Mã Số Doanh Nghiệp</label> <input type="number"
										placeholder="Nhập Mã Doanh Nghiệp" class="form-control"
										name="enterpriseIdentificationNumber"
										id="enterpriseIdentificationNumber">
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-enterpriseIdentificationNumber">
									<span><b>Không Được Để Trống Mã Số Doanh Nghiệp !</b></span>
								</div>


								<div class="form-group">
									<label> Loại Khách Hàng</label>
									<div class="row">
										<div class="col-sm-12">
											<select class="selectpicker"
												data-style="btn btn-danger btn-block"
												title="Chọn Loại Khách Hàng" data-size="7"
												name="classificationCustomer" id="classificationCustomer">
												<option th:each="classification : ${ClassificationCustomer}"
													th:text="${classification.nameClassificationCustomer}"
													th:value="${classification.idClassificationCustomer}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-classificationCustomer">
									<span><b>Không Được Để Trống Phân Loại Khách Hàng !</b></span>
								</div>




								<div class="form-group">
									<label> Lĩnh Vực Công Ty</label>
									<div class="row">
										<div class="col-sm-12">
											<select class="selectpicker"
												data-style="btn btn-danger btn-block" title="Chọn Lĩnh Vực"
												data-size="7" name="industryField" id="industryField">
												<option th:each="listIndustryField : ${listIndustryField}"
													th:text="${listIndustryField.nameIndustryField}"
													th:value="${listIndustryField.idIndustryField}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-industryField">
									<span><b>Không Được Để Trống Lĩnh Vực Công Ty !</b></span>
								</div>


								<div class="form-group">
									<label> Ngày Đăng Ký</label> <input type="date"
										placeholder="Nhập Ngày Sinh" class="form-control"
										name="registrationDate" id="registrationDate">
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-registrationDate">
									<span><b>Không Được Để Trống !</b></span>
								</div>

								<div class="alert alert-danger" style="display: none;"
									id="check-registrationDate">
									<span><b>Ngày Đăng Ký Không Hợp Lệ !</b></span>
								</div>

								<div class="form-group">
									<label> SĐT</label> <input type="number" placeholder="Nhập Sđt"
										class="form-control" name="phoneNumber" id="phoneNumber">
								</div>
								<div class="alert alert-danger" style="display: none;"
									id="error-phoneNumber">
									<span><b>Không Được Để Trống !</b></span>
								</div>

								<div class="alert alert-danger" style="display: none;"
									id="error-check-phoneNumber">
									<span><b>SĐT Không Hợp Lệ !</b></span>
								</div>


								<div class="form-group">
									<label> Trạng Thái Khách Hàng</label>
									<div class="row">
										<div class="col-sm-12">
											<select class="selectpicker"
												data-style="btn btn-danger btn-block"
												title="Chọn Trạng Thái Khách Hàng" data-size="7"
												name="idCustomerStatus" id="idCustomerStatus">
												<option value="0">Chưa Hoạt Động</option>
												<option value="1">Đã Hoạt Động</option>
											</select>
										</div>
									</div>
								</div>

								<div class="alert alert-danger" style="display: none;"
									id="error-idCustomerStatus">
									<span><b>Không Được Để Trống !</b></span>
								</div>


								<div class="form-group">
									<label> Quy Mô Công Ty</label>
									<div class="row">
										<div class="col-sm-12">
											<select class="selectpicker"
												data-style="btn btn-danger btn-block"
												title="Chọn Quy Mô Công Ty" data-size="7"
												name="companyScale" id="companyScale">
												<option value="1">Nhỏ</option>
												<option value="2">Vừa</option>
												<option value="3">Lớn</option>
											</select>
										</div>
									</div>
								</div>

								<div class="alert alert-danger" style="display: none;"
									id="error-companyScale">
									<span><b>Không Được Để Trống !</b></span>
								</div>

								<div class="form-group">
									<label> Ảnh-Logo</label> <input type="file"
										class="form-control" name="logoImage"
										accept="image/png, image/jpeg">
								</div>
								<div class="row">
									<div class="col-sm-4"></div>
									<div class="col-sm-4">
										<button type="submit"
											class="btn btn-fill btn-info position-button-insert-department-form"
											onclick="return insert()">Xác Nhận</button>
									</div>
									<div class="col-sm-4"></div>
								</div>
							</div>
						</form>
					</div>
					<!-- end card -->
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</body>
</html>