<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/mainLayout">
<head>
<meta charset="UTF-8" />
<link href="../assets/css/menu.css" rel="stylesheet" />
</head>
<body>
	<div class="content" layout:fragment="content" sec:authorize="hasAnyRole('ROLE_DRT','ROLE_MNG','ROLE_STF')">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10"></div>
				<div class="col-md-2">
					<a th:href="@{'/FPT/insert-menu-parent'}"
						class="btn btn-info btn-fill btn-wd position" sec:authorize="hasAnyRole('ROLE_DRT','ROLE_MNG')">Thêm Menu Chính</a>
				</div>
			</div>
			<div class="row">
				<br>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Danh Sách Menu Chính</h4>
						</div>
						<div class="card-content">
							<div class="toolbar">
								<!--Here you can write extra buttons/actions for the toolbar-->
							</div>
							<table id="bootstrap-table" class="table">
								<thead>
									<th data-field="name" class="text-center"><h5>Tên
											Menu Chính</h5></th>
									<th data-field="name" class="text-left"><h5>Icon</h5></th>
									<th data-field="name" class="text-center"><h5>Trạng
											Thái</h5></th>
									<th data-field="actions" class="text-center"
										data-events="operateEvents" data-formatter="operateFormatter"><h5>Chức
											Năng</h5></th>
								</thead>
								<tbody th:each="menuParent : ${listMenuParent}">
									<tr>
										<td class="text-center" th:text="${menuParent.nameMenu}"></td>
										<td class="text-center"><div class="icon-container">
												<span th:class="${menuParent.icon}"></span><span class="icon-name" th:text="${menuParent.icon}">
													</span>
											</div></td>
										<td class="text-center" th:if="${menuParent.idStatus} == 1"><p
												class="status-menu-on">ĐANG BẬT</p></td>
										<td class="text-center" th:if="${menuParent.idStatus} == 0"><p
												class="status-menu-off">ĐANG TẮT</p></td>

										<td class="text-center"><a
											th:href="@{'/FPT/list-menu-children-by-id-parent?id_menu_parent='+${menuParent.idMenu}}"
											class="btn btn-info">Xem</a> <a
											th:href="@{'/FPT/update_menu_parent?id_menu_parent='+${menuParent.idMenu}}"
											class="btn btn-secondary" sec:authorize="hasAnyRole('ROLE_DRT','ROLE_MNG')">Sửa</a> <a
											th:href="@{'/FPT/update-status-menu-parent-off-by-id?id_menu='+${menuParent.idMenu}}"
											class="btn btn-danger" th:if="${menuParent.idStatus} == 1" sec:authorize="hasAnyRole('ROLE_DRT','ROLE_MNG')">Tắt</a>
											<a
											th:href="@{'/FPT/update-status-menu-parent-on-by-id?id_menu='+${menuParent.idMenu}}"
											class="btn btn-success" th:if="${menuParent.idStatus} == 0" sec:authorize="hasAnyRole('ROLE_DRT','ROLE_MNG')">Bật</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>