<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/mainLayout">
<head>
<meta charset="UTF-8" />
<script src="../assets/js/industry-field.js"></script>
</head>
<body>
	<div class="content" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10"></div>
				<div class="col-md-2">
					<a th:href="@{'/FPT/insert-industry-field'}"
						class="btn btn-info btn-fill btn-wd position" sec:authorize="hasAnyRole('ROLE_DRT','ROLE_MNG')">Thêm Lĩnh Vực</a>
				</div>
			</div>
			<div class="row">

				<br> <br>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Lĩnh Vực Khách Hàng</h4>
						</div>
						<div class="card-content">

							<div class="toolbar"></div>
							<table id="bootstrap-table" class="table">
								<thead>
									<th data-field="id" class="text-center">STT</th>
									<th data-field="name" class="text-center">Tên Lĩnh Vực</th>
									<th data-field="actions" class="text-center"
										data-events="operateEvents" data-formatter="operateFormatter">Chức
										Năng</th>
								</thead>
								<tbody th:each="industryField : ${listIndustryField}">
									<tr>
										<td class="text-center"
											th:text="${industryField.idIndustryField}"></td>
										<td class="text-center"
											th:text="${industryField.nameIndustryField}"></td>
										<td class="text-center"><a th:href="@{'/FPT/list-corporate-customer-by-id-industry-field?id_industry_field='+${industryField.idIndustryField}}" class="btn btn-info">Xem Khách Hàng</a>
											<a
											th:href="@{'/FPT/update-industry-field?id_industry_field='+${industryField.idIndustryField}}"
											class="btn btn-secondary" sec:authorize="hasAnyRole('ROLE_DRT','ROLE_MNG')">Sửa</a> 
											<!-- <a
											th:href="@{'/FPT/delete-industry-field?id_industry_field='+${industryField.idIndustryField}}"
											class="btn btn-danger"
											onclick="return deleteIndustryField()">Xóa</a> -->
											
											</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>