<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/mainLayout">
<head>
<meta charset="UTF-8" />
 <link href="../assets/css/menu.css" rel="stylesheet" />
 <script src="../assets/js/menu.js"></script>
  <script src="../assets/js/menuChildren.js"></script>
</head>
<body>
	<div class="content" layout:fragment="content">
		<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
			</div>
			<div class="col-md-2">
			<a th:href="@{'/FPT/delete_menu_parent_by_id?id_menu='+${idMenu}}" class="btn btn-danger btn-fill btn-wd" onclick="return confirmDeleteMenuParent()">Xóa Menu Chính</a>
			</div>
			<div class="col-md-2">
			<a th:href="@{'/FPT/insert-menu-children?id_menu='+${idMenu}}" class="btn btn-info btn-fill btn-wd position">Thêm Menu Phụ</a>
			</div>
		</div>
			<div class="row">
				<br>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Danh Sách Menu Phụ </h4>
							<h4 th:text="${nameMenuParent}"></h4>
						</div>
						<div class="card-content">
							
							<div class="toolbar">
								<!--Here you can write extra buttons/actions for the toolbar-->
							</div>
							<table id="bootstrap-table" class="table">
								<thead>
									<th data-field="name" class="text-center"><h5>Tên Menu Phụ</h5></th>
									<th data-field="name" class="text-left"><h5>Icon</h5></th>
									<th data-field="name" class="text-center"><h5>URL</h5></th>
									<th data-field="name" class="text-center"><h5>Trạng Thái</h5></th>
									<th data-field="actions" class="text-center"
										data-events="operateEvents" data-formatter="operateFormatter"><h5>Chức Năng</h5></th>
								</thead>
								<tbody th:each="menuChildren : ${listMenuChildren}">
									<tr>
										<td class="text-center" th:text="${menuChildren.nameMenu}"></td>
										<td class="text-center">
										<div class="icon-container">
												<span th:class="${menuChildren.icon}"></span><span class="icon-name" th:text="${menuChildren.icon}">
													</span>
											</div>
										</td>
										<td class="text-center" th:text="${menuChildren.url}"></td>
										<td class="text-center" th:if="${menuChildren.idStatus} == 1"><p class="status-menu-on">ĐANG BẬT</p></td>
										<td class="text-center" th:if="${menuChildren.idStatus} == 0"><p class="status-menu-off">ĐANG TẮT</p></td>
										
										<td class="text-center">
										<a th:href="@{'/FPT/delete_menu_children_by_id?id_menu='+${menuChildren.idMenu}+'&id_parent='+${menuChildren.idParent}}" class="btn btn-danger" onclick="return confirmDelete()">Xóa</a>
										<a th:href="@{'/FPT/update_menu_children_by_id?id_menu='+${menuChildren.idMenu}}" class="btn btn-secondary">Sửa</a>
										<a th:href="@{'/FPT/update-status-menu-children-off-by-id?id_menu='+${menuChildren.idMenu}+'&id_parent='+${menuChildren.idParent}}" class="btn btn-danger" th:if="${menuChildren.idStatus} == 1">Tắt</a>
										<a th:href="@{'/FPT/update-status-menu-children-on-by-id?id_menu='+${menuChildren.idMenu}+'&id_parent='+${menuChildren.idParent}}" class="btn btn-success" th:if="${menuChildren.idStatus} == 0">Bật</a>
										</td>
									</tr>	
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>